/* Глобальные стили */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}



  /* Стили main и post компонентов */
  .main {
    padding: 20px;
  }

/* Стили форм */
// form input[type="submit"], .login button {
//   background-color: #4CAF50;
//   color: white;
//   padding: 14px 20px;
//   margin: 8px 0;
//   border: none;
//   cursor: pointer;
//   width: 100%;
// }

// form input[type="submit"]:hover, .login button:hover {
//   background-color: #45a049;
// }

// form input, form textarea {
//   width: 100%;
//   padding: 12px 20px;
//   margin: 8px 0;
//   display: inline-block;
//   border: 1px solid #ccc;
//   box-sizing: border-box;
//   background-color: #333;
//   color: white;
// }


